pkgbase = wapiti
	pkgdesc = Wapiti is a vulnerability scanner for web applications.
	pkgver = 2.3.0
	pkgrel = 1
	url = http://wapiti.sourceforge.net/
	arch = any
	license = GPL
	makedepends = python2-setuptools
	depends = python2-requests
	depends = python2-beautifulsoup3
	source = http://downloads.sourceforge.net/wapiti/wapiti-2.3.0.tar.gz
	sha256sums = 6b836a4810f17b7eda4345fb12293112129961ba243140c72a8da0ac2572f4b4

pkgname = wapiti

