pkgbase = wapiti
	pkgdesc = Wapiti is a vulnerability scanner for web applications.
	pkgver = 2.2.1
	pkgrel = 2
	url = http://wapiti.sourceforge.net/
	arch = any
	license = GPL
	depends = python2
	source = http://downloads.sourceforge.net/sourceforge/wapiti/wapiti-2.2.1.tar.bz2
	sha256sums = 1ce7de9dd277c1ef2dde969cb0dfea61f551d5d08334fad4edbda08bf0724c09

pkgname = wapiti

